.helpPageContainer {
    display: flex;
    height: 70vh;
    width: 80vw;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    background-color: wheat;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.helpPageTitle {
    color: black;
    font-size: 2.5vh;
}
.collaboratorName {
    color: black;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: default;
    transition: color .3s ease;
}
.collaboratorName:hover{
    color: white;
    transition: color .3s ease;
}
.collaboratorContainer {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 7vh;
    background-color:#455D7A;
    align-items: center;
    justify-content: space-around;
    transition: transform .3s ease;
}
.collaboratorContainer:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}
.gitHubIcon {
    background-image: url("../../../public/img/github.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6vh;
    aspect-ratio: 1/1;
}
.linkedInIcon {
    background-image: url("../../../public/img/linkedIn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6vh;
    aspect-ratio: 1/1;
}
.gitHubIcon a {
    display: block;
    height: 6vh;
    aspect-ratio: 1/1;
}
.linkedInIcon a {
    display: block;
    height: 6vh;
    aspect-ratio: 1/1;
}
@media (min-width: 760px) {
    .collaboratorName {
        font-size: 3vh;
    }
    .collaboratorContainer{
        width: 50vw;
    }
    .helpPageTitle {
        margin: 0;
        font-size: 4vh;
    }
    .helpPageContainer {
        height: 80vh;
        top: 55%;
        width: 60vw;
    }
}