.signUpContainer {
  display: flex;
  height: 70%;
  width: 80%;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  background-color: wheat;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: black;
}
.signUpContainer form {
  display: flex;
  width: 100%;
  height: 68%;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 2.5%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#signUpName {
  box-sizing: border-box;
  height: 11%;
  padding: 0;
  margin: 0;
}
#signUpEmail {
  box-sizing: border-box;
  height: 11%;
  padding: 0;
  margin: 0;
}
#signUpPassword {
  box-sizing: border-box;
  height: 11%;
  padding: 0;
  margin: 0;
}
#signUpPasswordConfirmation {
  box-sizing: border-box;
  height: 11%;
  padding: 0;
  margin: 0;
}
.signUpContainer .submitButton {
  height: 13%;
  width: 25%;
  margin: 1% 0 0 0;
  padding: .2vh .7vh;
  border: 1px solid black;
  background-color: #455D7A;
  color: white;
  transition: background-color .3s ease;
}
.signUpContainer .submitButton:hover {
  background-color: #FACF5A;
  transition: background-color .3s ease;
}
.signUpContainer p {
  text-align: center;
}
@media (min-width: 370px ) and (min-height: 660px) {
  .signUpContainer Form {
    width: 100%;
    height: 54%;
  }
  .signUpContainer .submitButton {
    height: 12%;
    width: 25%;
  }
  #signUpEmail {
    height: 11%;
  }
  #signUpName {
    height: 11%;
  }
  #signUpPassword {
    height: 11%;
  }
  #signUpPasswordConfirmation {
    height: 11%;
  }
}